<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required>
    <label for="add-thread-message">Message</label>
    <textarea class="form-control" id="add-thread-message" rows="4" required></textarea>
</div>